#AndreasRG-Sektion {
    background-color: orange;
}
#AndreasRG-Sektion h2 {
    color: white;
    font: bold 17px/1.5 Arial;
}
#AndreasRG-Sektion p {
    color: white;
    font: bold 14px/1.5 Arial;
}